.logoslider
    width 100%
    background-color #222
    height 135px
    box horizontal middle
    padding-left 20px
    +below(768px)
        padding-left 10px
.logosliderItems
    width calc(100% - 83px)
    margin 0
.logosliderItem
    height 135px
    padding 0 20px
    box vertical middle center
.logosliderNext
    display block
    size 43px
    margin-left 20px
    margin-right 20px
    border-radius 50%
    background-color #ffd427
    box vertical middle center
    cursor pointer
    svg
        size 20px
