extends _layout

block content
    section.assortment
        .pageWrap.pageWrapAssortment
            .assortimentHeaderWrap
                h1.mainHeaderForSimplePages Ассортимент
                select.seda
                    option First
            .assortmentItem
                .assortimentItemCategory
                    h2.assortmentCategoryHeader Kirschbier
                    p.assortmentCategoryDescrip У нас большой выбор бутылочного пива, произведенного в удаленных концах России.
                .assortmentBeerItems
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/brand-image.jpg');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    a(href='/productOfAssortment.html').assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardTagNew Новинка
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/beerpicture.png');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/brand-image2.jpg');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/beerpicture.png');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/beerpicture.png');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/beerpicture.png');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
            .assortmentItem
                .assortimentItemCategory
                    h2.assortmentCategoryHeader Бутылочное пиво
                    p.assortmentCategoryDescrip Мы подготовили для Вас лучшее бутылочное пиво, произвденнное в Российской Федерации. Исключительный вкус и широкий выбор крафтового пива.
        .assortmentBeerSliderWrap
            .assortmentBeerSlider
                .assortmentSliderItems.beer-swiper-container
                    .swiper-wrapper
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider1.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider2.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider3.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider4.png")
                            .assortmentCardTagNew.assortmentCardTagNewSlider Новинка
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider5.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider6.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider7.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider8.png")
                        .swiper-slide.beersliderItem
                            img(src="img/beerslider/beerslider9.png")

        .pageWrap.pageWrapAssortment
            .assortmentItem
                .assortimentItemCategory
                    h2.assortmentCategoryHeader Не пиво
                    p.assortmentCategoryDescrip Мы подготовили для Вас лучшее бутылочное пиво, произвденнное в Российской Федерации. Исключительный вкус и широкий выбор крафтового пива.
                .assortmentBeerItems
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/brand-image.jpg');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/beerpicture.png');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
                    .assortmentContainer
                        .assortmentCard
                            .assortmentCardItem.assortmentCardFront
                                .assortmentCardIcon
                                    +svgIcon('icon-like')
                                .assortmentCardImage(style="background-image: url('img/brand-image2.jpg');")
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                h2 Dome Kriek     
                            .assortmentCardItem.assortmentCardBack
                                h2 Жигулевское традиционное
                                p.assortmentCardDescHeader Трехсосненский завод
                                .assortmentCardDescriptionItems
                                    .assortmentCardDescriptionItem 3.6% об.
                                    .assortmentCardDescriptionItem IBU 5
                                p.assortmentCardDescriptionTxt Светлое освежающее пиво со вкусом осоложённого зерна и хмеля. Это чистый прозрачный лагер, употреблять его нужно практически ледяным.
                                .assortmentCardInWrap
                                    p.assortmentCardLinkText Доступно в 
                                        span 15 точках
                                    .assortmentCardLinkCircle
                                        +svgIcon('icon-arrow-right')
