extends _layout

block content
    section.mainPageWelcomeBlock
        h1 Летние скидки 
            span <br> до 50%
        p В сети магазинов разливного пива «ГлавПиво» стартует акция, благодаря которой пиво можно приобрести с 50% скидкой.
    include block/logoslider
include block/beerOfWeek
