footer.footer
    .footerTop
        .footerMenu
            .footerMenuItem.footerMenuItemActive
                a(href="#") Главная
            .footerMenuItem
                a(href="#") О нас
            .footerMenuItem
                a(href="#") Сеть магазинов
            .footerMenuItem
                a(href="#") Ассортимент
            .footerMenuItem
                a(href="#") Контакты
        .footerContact
            .footerContactIcon
                +svgIcon('icon-phone')
            .footerContactText
                | +7 (812) 998-88-91 
    .footerBottom
        .footerBottomLeft
            .footerCopyright
                p © 2014–2016 ООО «ГлавПиво»</br> Все права защищены.
            .footerWarning
                .warningIcon
                p Чрезмерное потребление алкогольной продукции вредит Вашему здоровью
            .footerSocialIcons
                a(href="#")
                    +svgIcon('icon-fb')
                a(href="#")
                    +svgIcon('icon-vk')
                a(href="#")
                    +svgIcon('icon-inst')
        .footerSocialDevelop
            p Создание - 
                a(href="#") Danke
