footer.footer
    .footerNews
        a(href="#").footerNewsItems
        a(href="#").footerNewsItems
        a(href="#").footerNewsItems
    .footerMenu
        a(href="#").footerMenuItem.active Главная
        a(href="#").footerMenuItem О нас
        a(href="#").footerMenuItem Сеть магазинов
        a(href="#").footerMenuItem Ассортимент
        a(href="#").footerMenuItem Контакты
        .footerMenuTelIco
    .footerSocial
        p © 2014–2016 ООО «ГлавПиво» </br> Все права защищены.
        .footerSocialWarning
            .warningIcon
            p Чрезмерное потребление алкогольной продукции вредит Вашему здоровью
        .footerSocialIcons
            a(href="#").iconFacebook
            a(href="#").iconVkontakte
            a(href="#").iconInstagram
        .footerSocialDevelop
            p Создание - 
                a(href="#") Danke
