.logoslider
    .logosliderItems.swiper-container
        .swiper-wrapper
            .swiper-slide.logosliderItem
                img(src="img/logoslider1.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider2.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider1.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider2.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider1.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider2.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider1.png")
            .swiper-slide.logosliderItem
                img(src="img/logoslider2.png")
    .logosliderNext
        +svgIcon('icon-arrow-right')
