.newsMain
    a(href="#").newsMainItem
        .mainNewsItemImage(style="background-image: url('../img/button-photo.jpg');")
        .newsMainItemsRowItem
            h3.newsMainItemHeader 45 пивных магазинов в Петербурге и области
            .newsMainItemIcon
                +svgIcon('icon-arrow-right')
    a(href="#").newsMainItem
        .mainNewsItemImage(style="background-image: url('../img/button-photo.jpg');")
        .newsMainItemsRowItem
            h3.newsMainItemHeader 45 пивных магазинов в Петербурге и области
            .newsMainItemIcon
                +svgIcon('icon-arrow-right')
    a(href="#").newsMainItem
        .mainNewsItemImage(style="background-image: url('../img/button-photo.jpg');")
        .newsMainItemsRowItem
            h3.newsMainItemHeader 45 пивных магазинов в Петербурге и области
            .newsMainItemIcon
                +svgIcon('icon-arrow-right')
