.mask.popUpAge
    .popUpAgeWindow
        .popUpAgeLogo
            +svgIcon('logo-age')
        .popUpAgeHeader
            h2 Сайт доступен только для лиц старше 18-ти лет. </br> Вам больше 18-ти лет?
        .popUpAgeButtons
            .popUpAgeButton.popUpAgeButtonYes Да
            .popUpAgeButton.popUpAgeButtonNo Нет
        .popUpAgeWarning
            .popUpAgeBitMap
            +svgIcon('warningLabel')
            +svgIcon('warniingLabelDesctop')
