.footerContact
    flex 0 1 auto
    box horizontal middle
    width 230px
    +below(955px)
        width auto
.footerContactIcon
    box vertical center middle
    size 28px
    border-radius 14px
    border 2px solid #ffd427
    margin-right 16px
    svg
        flex 0 1 auto
        size 14px
.footerContactText
    flex 0 1 auto
    font-family "Muller-Bold"
    font-size 14px
    color #ffd427
    letter-spacing 0.1em
    line-height 17px
    a
        color #ffd427
        text-decoration none
