.beerOfWeek
    padding 54px 0
    background #ffd427

.beerOfWeekRow
    width 78%
    margin 0 auto
    overflow hidden
    position relative
    margin-top -135px
    box horizontal space-between

.beerOfWeekCard
    width 277px
    height 342px
    background #fff
    border-radius 10px
    float right
    padding 32px
    margin-left 20px
    position relative
    h2
        font-family "Muller-Black"
        font-size 24px
        color #222
        margin-top 10px

.beerOfWeekCardImage
    size 170px
    border-radius 50%
    margin 0 auto
    background #333
    background-size cover

.beerOfWeekCardDescriptionItems
    margin-top 28px
    width 100%
    overflow hidden

.beerOfWeekCardDescriptionItem
    background #E0CEC5
    border-radius 30px
    padding 5px 10px 2px
    margin-right 10px
    float left
    font-family "Muller-Bold"
    font-size 14px
    color #333

.beerOfWeekButtonPreviosWeek
    float right
    width 160px
    margin-right 40px
    text-decoration none
    h4
        color #ffd427
        font-family "Muller-Bold"
        font-size 14px
        margin-top 8px
.beerOfWeekControl
    size 43px
    border-radius 50%
    background #ffd427
    margin-right 10px
    float left
    box vertical middle center
    svg
        width 24px
        height 20px

.beerOfWeekFamousBrands
    position absolute
    bottom -5px
    left 0
    text-transform uppercase
    size 235px 44px
    color black
    font-family "Muller-Black"
    font-size 18px
    line-height 22px
    letter-spacing 5px

.beerOfWeekCardIcon
    svg
        size 24px 22px
        position absolute
        top 20px
        right 25px

.beerOfWeekWrapLeftContent
    box horizontal row-reverse
